#global-actions > .moments {
  display: none;
}

.dashboard .DashboardProfileCard-content .ProfileCardStats {
  display: none;
}

.dashboard .wtf-module, .dashboard .wtf-module.has-content {
  display: none;
}